@import "./_reset";

/* global css start */

.nice-select {
	background-color: transparent;
	height: 60px;
	line-height: 59px;
	min-height: 60px;
	padding: 0 20px;
	width: 100%;
	padding: 0 46px;
	margin-bottom: 20px;
	background-color: #F3F4F5;
	border: 0;
	font-size: 16px;
	&::after {
		border-bottom: 1.9px solid #fff;
		border-right: 1.9px solid #fff;
		height: 9px;
		right: 20px;
		width: 9px;
	}
	.option {
		line-height: 22px;
		min-height: 42px;
		padding: 10px 18px;
		margin: 2px 8px;
		display: flex;
		align-items: center;
		border-radius: 5px;
		transition: all 0.2s ease;
	}
	.option:hover, 
	.option.focus,
	.option.selected.focus {
		background-color: rgba(255, 255, 255, 0.1);
		margin: 2px 8px;
	}
	&.open .list {
		transform: scale(1) translateY(2px);
	}
	.list {
		width: 100%;
		margin-top: 0;
		padding: 8px 0;
		border-radius: 0 0 5px 5px;
		-webkit-transform: scale(1) translateY(30px);
        -ms-transform: scale(1) translateY(30px);
        transform: scale(1) translateY(30px); 
		-webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-khtml-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-moz-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-ms-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-o-transition: all .25s cubic-bezier(.645,.045,.355,1);
		transition: all .25s cubic-bezier(.645,.045,.355,1);
		background-color: #2b3d66;
		li {
			margin: 0 !important;
			padding: 0 !important;
		}
		.option {
			color: var(--color-white);
			font-weight: 500;
			padding: 10px 18px;
			margin: 2px 8px;
			min-height: 42px;
			line-height: 22px;
			display: flex;
			align-items: center;
			border-radius: 5px;
			transition: all 0.2s ease;
			&.selected {
				font-weight: 500;
			}
			&.selected,
			&:hover {
				border: none !important;
			}
			&:hover,
			&.focus,
			&.selected.focus {
				background-color: rgba(255, 255, 255, 0.1);
				margin: 2px 8px;
			}
		}
	}
}

/* global css end */
.body_wrap {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	min-height: auto !important;
	
	> footer:last-child {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}
.bg_img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
//color
.white-bg {
	background: var(--color-white);
}
.black-bg {
	background: var(--color-black);
}
.clr-white {
  color: var(--color-white) !important;
}
.clr-black {
	color: var(--color-black);
}
.pos-rel {
	position: relative;
}
.pos-absolute {
	position: absolute;
}
.f-right {
  float: right;
}
.mb-5 {
	margin-bottom: 5px !important;
}
.mt-5 {
	margin-top: 5px !important;
}

// video
.btn-video {
    width: 100px;
    height: 100px;
	z-index: 2;
    @include border-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 22px;
    color: #011689;
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	@include respond(xs) {
		width: 60px;
		height: 60px;
		font-size: 18px;
	}
    &:hover {
        color: var(--color-primary);
    }
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		@include border-radius(50%);
		background-color: var(--color-white);
		animation: push-scale 1500ms ease-out infinite;
		-webkit-animation: push-scale 1500ms ease-out infinite;
		z-index: -2;
	}
}
.btn-video-center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

// border effect
.border-effect, .border-effect-2 {
	a {
		display: inline !important;
		width: 100%;
		background-repeat: no-repeat;
		background-position-y: -2px;
		background-image: linear-gradient(transparent calc(100% - 2px),currentColor 1px);
		@include transition(.6s cubic-bezier(.215,.61,.355,1));
		background-size: 0 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover {
			background-size: 100% 100%;
			color: inherit;
		}
	}
}
.border-effect-2 {
	a {
		background-image: linear-gradient(transparent calc(100% - 1px),currentColor 1px);
	}
}
// border effect
.border_effect {
	a {
		display: inline !important;
		width: 100%;
		background-repeat: no-repeat;
		background-position-y: -2px;
		background-image: linear-gradient(transparent calc(100% - 2px),currentColor 1px);
		transition: .6s cubic-bezier(.215,.61,.355,1);
		background-size: 0 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover {
			background-size: 100% 100%;
			color: inherit;
		}
	}
}
.tx-col-md-6 {
	@include respond(md) {
		width: 50%;
	}
	@include respond(xs) {
		width: 100%;
	}
}

.xb-close {
	background: rgba(0,0,0,4%);
	border: 9px solid transparent;
	color: #777;
	width: 36px;
	height: 36px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		transform-origin: 50% 50%;
		-webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-khtml-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-moz-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-ms-transition: all .25s cubic-bezier(.645,.045,.355,1);
		-o-transition: all .25s cubic-bezier(.645,.045,.355,1);
		transition: all .25s cubic-bezier(.645,.045,.355,1);
		background-color: #fff;
	}
	&::before {
		-webkit-transform: rotate(45deg);
		-khtml-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&::after {
		-webkit-transform: rotate(-45deg);
		-khtml-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&:hover::before,
	&:hover::after {
		-webkit-transform: rotate(0);
		-khtml-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
}

/* order & unorder list reset - start */
.ul_li, .ul_li_right, .ul_li_center, .ul_li_between {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.ul_li>li, .ul_li_right>li, .ul_li_center>li, .ul_li_between>li {
	float: left;
	list-style: none;
	display: inline-block;
}
.ul_li {
	justify-content: flex-start;
}
.ul_li_center {
	justify-content: center;
}
.ul_li_right {
	justify-content: flex-end;
}
.ul_li_between {
	justify-content: space-between;
}
.ul_li_block {
	margin: 0px;
	padding: 0px;
	display: block;
}
.ul_li_block > li {
	display: block;
	list-style: none;
}
.flex-1 {
	flex: 1;
}

// pagination
.pagination_wrap {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -5px;
		list-style: none;
		li {
			padding: 5px;
			a {
				height: 50px;
				width: 50px;
				@include center;
				font-size: 16px;
				font-weight: 600;
				color: var(--color-primary);
				border: 1px solid #EEE5E5;
				background-color: var(--color-white);
				@include transition(all 0.3s ease-out 0s);
				z-index: 1;
				@include border-radius(50%);
				overflow: hidden;
				@include respond(xs) {
					height: 40px;
					width: 40px;
					font-size: 15px;
				}
				&.current_page,
				&:hover {
					background-color: var(--color-yellow);
					border-color: var(--color-yellow);
				}
			}
		}
	}
}
//odometter
.xb-odm {
	overflow: hidden;
}

.xb-odm .xbo.xbo-auto-theme .xbo-digit .xbo-digit-inner,
.xb-odm .xbo.xbo-theme-default .xbo-digit .xbo-digit-inner {
  overflow: initial;
  overscroll-behavior-y: hidden;
}