/* reset css start */
:root {
  scroll-behavior: auto;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  min-height: auto !important;
  height: auto !important;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.01em;
  position: relative;
  color: var(--color-white);
  font-family: var(--font-body);
  background-color: var(--color-body);
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  min-height: auto !important;
  height: auto !important;
}
img {
  max-width: 100%;
  height: auto;
}

ul {
	margin: 0px;
	padding: 0px;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

button {
  border: none;
  @include transition(.3s);
}

button:focus {
  outline: none;
}
a {
  text-decoration: none;
  @include transition(.3s);
  &:hover {
    color: inherit;
  }
}
select {
	height: 55px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  background-image: url(../img/icon/select-arrow.png);
	background-position: calc(100% - 10px) 50%;
	background-repeat: no-repeat;
	padding-right: 20px;
  background-color: transparent;
  border: 0;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], form select, textarea {
	width: 100%;
	height: 75px;
	border-radius: 0;
  background-color: #F3F4F5;
	padding: 10px 20px;
  border: 0;
	@include transition(.3s);
  color: var(--color-black);
  font-weight: 500;
  @include placeholder(#888686);
}
textarea {
  height: 100px;
}
button {
  border: 0;
}
table {
  width: 100%;
}

p, li, span {
  margin-bottom: 0;
}

/* reset css end */
