// variable
:root {
    --font-body: "DM Sans", sans-serif;
    --font-heading: 'SportingGrotesque';

    --color-primary: #00ff97;
    --color-secondary: #00020f;
    --color-heading:  #fff;

    --color-default:  #414047; 
    --color-border:  #cbcad3;
    --color-gray:  #b2b3b7;
    --color-white: #fff;
    --color-black: #000;
    --color-body: #00020f;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
.ai-marketing {
    --color-primary: #01ff97;
}