.thm-btn {
	font-size: 16px;
    font-weight: 700;
	z-index: 1;
    line-height: 1.1;
	letter-spacing: 0em;
    border-style: none;
    align-self: center;
    position: relative;
	display: inline-flex;
	align-items: center;
	overflow: clip;
	justify-content: center;
	text-transform: uppercase;
	background: transparent;
    color: var(--color-secondary); 
	@include transition(.3s);
	@include border-radius(30px);
	.arrow-icon {
		height: 46px;
		width: 46px;
		overflow: hidden;
		position: relative;
		@include transition(.3s);
		@include border-radius(50px);
		background: var(--color-secondary);
		svg {
			position: absolute;
			left: 9px;
			top: 10px;
			@include transition(.3s);
			&:first-child {
				transform: translate(0);
			}
			&:last-child {
				transform: translate(-30px, 30px);
			}
			rect {
				@include transition(.3s);
			}
		}
	}
	&:hover {
		.arrow-icon svg {
			&:nth-child(1) {
				transform: translate(30px, -30px);
			}
			&:nth-child(2) {
				transition-delay: .1s;
				transform: translate(0, 0);
			}
		}
	}
	
}
.agency-btn {
	.text {
		padding: 21.2px 20px;
		@include transition(.3s);
		border-radius: 30px 0 0 30px;
		background: var(--color-primary);
	}
	.arrow {
		padding: 7px;
		@include center;
		@include transition(.3s);
		border-radius: 0 30px 30px 0;
		background: var(--color-primary);
	}
	&:hover {
		color: var(--color-secondary);
		.text,
		.arrow {
			border-radius: 30px;
		}
	}
}
.chatbot-btn {
	gap: 27px;
	color: #fff;
	background: #060E50;
	padding: 7px 7px 7px 20px;
	@include transition(.3s);
	@include respond(xs) {
		gap: 10px;
		padding: 7px 7px 7px 10px;
	}
	.btn-bg {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		@include transition(.3s);
	}
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		padding: 1px;
		z-index: -1;
		@include border-radius(30px);
		background: linear-gradient(146deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 19.3%, rgba(255, 255, 255, 0.06) 62.02%, rgba(255, 255, 255, 0.4) 100%);
		-webkit-mask: 
			linear-gradient(#fff 0 0) content-box, 
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
				mask-composite: exclude;
		pointer-events: none;
	}
	&:hover {
		.btn-bg {
			left: -100px;
		}
	}
}
.custom-btn {
	.xb-icon {
		height: 30px;
		width: 30px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		@include transition(.3s);
		@include border-radius(100%);
		img {
			position: absolute;
			left: 8px;
			top: 3px;
			@include transition(.3s);
			&:nth-child(1) {
				transform: translate(0);
			}
			&:nth-child(2) {
				transform: translate(-30px, 30px);
			}
		}
	}
	&:hover {
		.xb-icon {
			img {
				&:nth-child(1) {
					transform: translate(30px, -30px);
				}
				&:nth-child(2) {
					transition-delay: .1s;
					transform: translate(0, 0);
				}
			}
		}
	}
}
.ai-marketing-btn {
	gap: 15px;
	z-index: 1;
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	padding: 5px 15px 5px 5px;
	color: var(--color-black);
	@include transition(.3s);
	background: var(--color-white);
	position: relative;
	&::before {
		position: absolute;
		content: '';
		height: 50px;
		width: 0;
		top: 5px;
		left: 5px;
		z-index: -1;
		@include transition(.3s);
		background: var(--color-primary);
	}
	.arrow {
		height: 50px;
		width: 50px;
		@include center;
		background: var(--color-primary);
	}
	.text {
		display: flex;
		overflow: hidden;
		position: relative;
		span {
			@include transition(.3s);
			&:nth-child(1) {
				transform: translateY(0);
			}
			&:nth-child(2) {
				left: 0;
				top: 0;
				position: absolute;
				transform: translateY(30px);
			}
		}
	}
	&:hover {
		color: var(--color-secondary);
		&:before {
			width: calc(100% - 10px);
		}
		.text {
			span {
				&:nth-child(1) {
					transform: translateY(-30px);
				}
				&:nth-child(2) {
					transform: translateY(0);
				}
			}
		}
	}
}

