.xb-faq {
    position: relative;
    padding: 10px;
    @include border-radius(10px);
    background: linear-gradient(146deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 
    0.2) 19.3%, rgba(255, 255, 255, 0.06) 62.02%, rgba(255, 255, 255, 0.4) 100%);
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        filter: blur(119px);
        background: linear-gradient(52deg, #2c32fe 0%, #00a4af 49%, #00ff97 100%);
        opacity: 0.2;
    }
    .accordion_box {
        border: 1px solid #40414B;
        @include border-radius(10px);
        .block {
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid #40414b;
            &:last-child {
                border-bottom: 0;
            }
            &:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            &:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            &.active-block {
                border-bottom: none;
                .acc-btn {
                    .number {
                        color: var(--color-white);
                    }
                    .arrow {
                        &::before {
                            content: "\f068";
                            transform: rotate(180deg);
                            color: var(--color-secondary);
                        }
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
            .acc-btn {
                padding: 24px 40px;
                font-size: 24px;
                line-height: 1.3;
                font-weight: 500;
                position: relative;
                cursor: pointer;
                background: var(--color-secondary);
                @include respond(md) {
                    font-size: 20px;
                    padding: 20px;
                    padding-right: 30px;
                }
                @include respond(xs) {
                    padding-right: 50px;
                }
                .arrow {
                    position: absolute;
                    z-index: 1;
                    width: 36px;
                    height: 36px;
                    top: 50%;
                    right: 40px;
                    background: #060E50;
                    transform: translateY(-50%);
                    @include border-radius(50%);
                    @include respond(xs) {
                        right: 5px;
                    }
                    span {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        z-index: -1;
                        border-radius: inherit;
                        background-image: url(../img/bg/circle_bg.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        opacity: 0;
                        background: var(--color-primary);
                        @include border-radius(50%);
                        @include transition(.3s);
                    }
                    &::before {
                        position: absolute;
                        top: 7px;
                        left: 11px;
                        font-size: 14px;
                        font-size: 16px;
                        font-weight: 500;
                        content: "\f067";
                        font-family: "Font Awesome 5 Pro";
                        color: var(--color-heading-two);
                        transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    } 
                }
                .number {
                    @include transition(.3s);
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .acc_body {
                position: relative;
                display: none;
                &.current {
                    display: block;
                }
            }
            .content {
                font-size: 16px;
                line-height: 28px;
                background: #15192f;
                padding: 30px 140px 42px 40px;
                border: 1px solid rgba(128, 128, 135, 0.2);
                @include respond(md) {
                    padding: 30px 40px 42px 40px;
                }
                @include respond(xs) {
                    padding: 20px;
                }
                p {
                    margin-bottom: 15px;
                }
                ul li {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                    i {
                        margin-right: 10px;
                        font-size: 16px;
                        color: var(--color-primary-two);
                    }
                }
            }
        }
    }
}
.faq-linear-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 81px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 2, 15, 0) 0%, #00020f 100%);
}
.service_process_faq {
    .accordion {
        --bs-accordion-border-color: none;
        .accordion-item {
            border-radius: 0;
            background-color: transparent;
        }
        .accordion-button {
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            padding: 20px 0 8px;
            letter-spacing: -0.02em;
            color: var(--color-white);
            text-transform: capitalize;
            border-radius: 0 !important;
            background-color: transparent;
            font-family: var(--font-heading);
            @include respond(xs) {
                font-size: 18px;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #40414b;
            }
            &:hover {
                color: var(--color-primary);
            }
            &:after {
                width: auto;
                height: auto;
                content: "\2b";
                font-size: 16px;
                background: none;
                font-weight: 700;
                font-family: 'Font Awesome 5 pro';
            }
            &[aria-expanded=true] {
                border: none;
                &:after {
                    content: '\f068';
                }
            }
        }
        .accordion-body {
            padding: 11px 70px 11px 20px;
            background-color: rgba(21, 25, 47, 0.2);
            border: 1px solid rgba(128, 128, 135, 0.2);
            @include respond(xs) {
                padding: 11px 20px;
            }
        }
        p {
            font-size: 16px;
            line-height: 28px;
            color: var(--color-gray);
        }
    }
}
.content_layer_group {
    display: flex;
    align-items: end;
    flex-direction: column;
    @include respond(md) {
        align-items: center;
    }
	>li {
        height: 142px;
		width: 452px;
		cursor: pointer;
		position: relative;
        @include respond(xs) {
            width: 330px;
            height: 132px;
        }
        @include respond(sm) {
            width: 452px;
            height: 142px;
        }
		&:not(:first-child) {
			margin-top: -37px;
		}
		&[aria-expanded=true] {
			z-index: 1;
			span {
				position: relative;
				color: var(--bs-white);
				border-color: var(--bs-primary);
				background: linear-gradient(52deg, #2c32fe 0%, #00a4af 49%, #00ff97 100%);
			}
		}
	}
	span {
		height: 142px;
		width: 452px;
		font-size: 22px;
		font-weight: 400;
        letter-spacing: -0.02em;
		line-height: 36px;
        @include center;
		flex-wrap: wrap;
		border-radius: 100%;
        position: relative;
		color: var(--color-white);
		font-family: var(--font-heading);
		@include transition(.3s);
        @include respond(xs) {
            width: 330px;
            height: 132px;
            font-size: 20px;
        }
        @include respond(sm) {
            width: 452px;
            height: 142px;
            font-size: 22px;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            z-index: -1;
            border-radius: inherit;
            @include transition(.3s);
            background: linear-gradient(49deg, #4cbdd4 0.01%, #00ff97 61.5%, #4cbdd4 100%);
            -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
            pointer-events: none;
        }
	}
}
.career-faq {
    .accordion_box {
        .block {
            .acc-btn {
                font-weight: 400;
                font-size: 22px;
                padding: 26px 30px;
                letter-spacing: -0.04em;
                color: var(--color-white);
                .number {
                    color: var(--color-primary);
                }
            }
            .content {
                padding: 20px 40px 30px 30px;
                border: 1px solid #40414b;
                p {
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 0;
                    line-height: 28px;
                    color: var(--color-white);
                }
            }
            &.active-block {
                .acc-btn {
                    .number {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}