.xb-feature-item {
    position: relative;
    overflow: hidden;
    @include border-radius(10px);
    box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
    .xb-item {
        &--inner {
            padding: 50px 50px 40px 30px;
            backdrop-filter: blur(40px);
            background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                padding: 50px 25px 40px 30px;
            }
            @include respond(lg) {
                padding: 50px 25px 40px;
            }
            @media only screen and (max-width: 1023px) {
                padding: 50px 15px 40px;
            }
            @include respond(md){
                padding: 50px 40px 40px 30px;
            }
            @include respond(xs){
                padding: 50px 30px 40px;
            }
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                border-radius: inherit;
                background-image: url(../img/feature/noise.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &--icon {
            height: 100px;
            width: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 2, 15, 0.3);
            @include border-radius(100px);
            img {
                @include transition(.3s);
            }
        }
        &--title {
            font-size: 22px;
            margin: 40px 0 5px;
            letter-spacing: -0.04em;
            @include respond(lg) {
                font-size: 20px;
            }
        }
        &--content {
            font-size: 16px;
            color: var(--color-white);
            
        }
    }
    &:hover {
        .xb-item--icon img {
            transform: rotateY(180deg);
        }
    }
}
.xb-feature-left-item {
    margin-right: 24px;
    @include respond(lg) {
        margin-right: 0;
    }
    .xb-item--inner {
        @include respond(xs) {
            text-align: end;
            justify-content: start !important;
            flex-direction: row-reverse;
        }
    }
}
.xb-feature-right-item {
    margin-left: 24px;
    @include respond(lg) {
        margin-left: 0;
    }
}
.xb-feature-item2 {
    &:not(:last-child) {
        margin-bottom: 82px;
        @include respond(md) {
            margin-bottom: 30px;
        }
    }
    .xb-item {
        &--inner {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 19px 15px;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                padding: 19px 10px;
            }
            @include respond(lg) {
                gap: 14px;
                padding: 19px 10px;
            }
        }
        &--title {
            margin: 0;
            font-size: 21px;
            line-height: 32px;
            letter-spacing: -0.03em;
            @include respond(lg) {
                font-size: 19px;
            }
            @media only screen and (max-width: 1023px) {
                font-size: 17px;
            }
            @include respond(md) {
                font-size: 20px;
            }
            @include respond(xs) {
                font-size: 19px;
                text-align: left !important;
            }
        }
        &--icon {
            height: 52px;
            width: 52px;
        }
    }
}
.xb-feature-item-3 {
    .xb-item {
        &--inner {
            padding: 20px;
            backdrop-filter: blur(40px);
            @include border-radius(10px);
            box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
            background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
        }
        &--title {
            font-size: 22px;
            line-height: 1.3;
            margin: 30px 0 5px;
            letter-spacing: -0.04em;
            @include respond(md) {
                font-size: 21px;
            }
        }
    }
    .xb-img {
        z-index: 1;
        position: relative;
        box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
        img {
            @include respond(sm) {
                width: 100%;
            }
        }
        .scan-img {
            position: absolute;
            left: 0;
            top: 30px;
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translateX(-50%);
            @include respond(lg) {
                top: 10%;
            }
            @include respond(xs) {
                top: 14%;
                max-width: 22%;
            }
            img {
                animation: zoominup 5s linear infinite;
            }
        }
        .circle {
            position: absolute;
            left: 70px;
            top: 20px;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                left: 50px;
                top: 6px;
            }
            @include respond(lg) {
                left: 42px;
                top: 6px;
                max-width: 70%;
            }
            @media only screen and (max-width: 1023px) {
                top: 5px;
                left: 38px;
            }
            @include respond(md) {
                left: 45px;
            }
            @include respond(xs) {
                left: 42px;
            }
            @include respond(sm) {
                left: 20%;
                top: 30px;
                width: 60%;
            }
            img {
                animation: spin 20s linear infinite;
            }
        }
        .security {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            @include respond(md) {
                max-width: 110px;
            }
            @include respond(xs) {
                width: 100px;
            }
            @include respond(sm) {
                width: 140px;
            }
        }
        .animated-dot {
            width: 54%;
            position: absolute;
            overflow: hidden;
            left: 50%;
            top: 50%;
            height: 5px;
            transform: translate(-50%, -50%);
        }
        .dot {
            top: 50%;
            left: 0;
            width: 100%;
            position: absolute;
            border: 1px dotted #fff;
            transform: translateY(-50%);
            span {
                position: absolute;
                height: 4px;
                width: 4px;
                top: -2px;
                background: var(--color-white);
                @include border-radius(100px);
                animation: leftToRight 10s linear infinite;
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: 2s;
                }
                &:nth-child(3) {
                    animation-delay: 4s;
                }
                &:nth-child(4) {
                    animation-delay: 6s;
                }
                &:nth-child(5) {
                    animation-delay: 8s;
                }
            }
        }
    }
    &.big-item {
        .xb-item--content {
            max-width: 703px; 
        }
    }
}
.feature-sec-title {
    .title {
        line-height: 1.5;
        margin-left: 105px;
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            line-height: 1.3;
        }
        @include respond(md) {
            margin-left: 50px;
        }
        @include respond(xs) {
            margin-left: 0;
        }
        img {
            position: absolute;
            left: -200px;
            top: 50%;
            object-fit: cover;
            max-width: 230%;
            transform: translateY(-50%);
        }
        span {
            height: 50px;
            width: 305px;
            overflow: hidden;
            margin-right: 30px;
            position: relative;
            display: inline-block;
            @include border-radius(100px);
            @include respond(xs) {
                margin-right: 0;
            }
        }
    }
    .xb-heading-btn {
        transform: translate(18px, -15px);
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            transform: translate(0, 0);
        }
        @include respond(lg) {
            transform: translate(0, 0);
        }
        @include respond(xs) {
            transform: translate(0, 5px);
        }
        @include respond(sm) {
            transform: translate(10px, 0);
        }
    }
}
.fea-sec-title {
    .title {
        span {
            height: 80px;
            width: 60px;
            position: relative;
            display: inline-block;
            @include respond(xs) {
                height: 45px;
            }
            img {
                position: absolute;
                left: -48px;
                top: 9px;
                
                max-width: 160px;
                @include respond(xs) {
                    left: -48px;
                    top: -20px;
                    max-width: 140px;
                }
            }
        }
    }
}
.xb-feature-content {
    margin-right: 50px;
    @include respond(lg) {
        margin-right: 0;
    }
}
.feature-section {
    min-height: 767px;
    display: flex;
    align-items: center;
}
.xb-feature-shape {
    position: relative;
    @include respond(md) {
        margin: 0 auto;
        max-width: 330px;
        margin-top: 30px;
    }
    .shape {
        position: absolute;
        left: 0;
        top: 1px;
        z-index: -1;
        height: 100%;
        width: 100%;
        @include respond(lg) {
            top: 12px;
        }
        @media only screen and (max-width: 1023px) {
            top: 16px;
        }
        @include respond(md) {
           top: 8px;
        }
    }
    li {
        &:not(:first-child) {
            margin-top: -117px;
        }
        svg {
            @include respond(lg) {
                width: 315px;
                height: 212px;
            }
            @media only screen and (max-width: 1023px) {
                width: 295px;
                height: 207px;
            }
            @include respond(md) {
                width: 330px;
                height: 215px;
            }
            path {
                animation: moveWave 6s linear infinite;
                transform-origin: center;
                will-change: stroke-dashoffset;
            }
        }
        @keyframes moveWave {
            0% {
                stroke-dashoffset: 0;
            }
            100% {
                stroke-dashoffset: -200;
            }
        }
            
    }
}