.hero-style {
    z-index: 1;
    min-height: 938px;
    padding-top: 195px;
    overflow: hidden;
    @include respond(md) {
        padding-top: 170px;
    }
    @include respond(xs) {
        padding-top: 150px;
    }
    .hero-icon {
        margin-left: -38px;
        margin-right: -120px;
        transform: translateY(-40px);
        @include respond(lg) {
            transform: translate(-40px, -25px);
        }
        @include respond(md) {
            transform: translate(0px, 6px);
            margin-right: -200px;
        }
        @include respond(xs) {
            margin-right: 0px;
            transform: translate(70px, 30px);
        }
        @include respond(sm) {
           transform: translate(130px, 30px);
        }
        img {
            width: 98.9%;
            @include respond(md) {
                width: 68%;
            }
        }
    }
    &--two {
        min-height: 920px;
        padding-top: 185px;
        @include respond(laptop) {
            min-height: 790px;
        }
        @include respond(lg) {
            min-height: 755px;
            padding-top: 160px;
        }
    }
    &--three {
        min-height: 920px;
        padding-top: 320px;
        @include respond(laptop) {
            min-height: 800px;
            padding-top: 280px;
        }
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            min-height: 860px;
            padding-top: 230px;
        }
        @include respond(lg) {
            min-height: 790px;
            padding-top: 210px;
        }
        @include respond(md) {
            min-height: 730px;
            padding-top: 190px;
        }
        @include respond(xs) {
            padding-top: 150px;
            padding-left: 0;
            padding-right: 0;
        }
        @include respond(sm) {
            padding-top: 190px;
        }
        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-image: url(../img/bg/hero-gradient.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.scale-animation {
    opacity: 0;
    transition: all 1s cubic-bezier(0.55, 0.085, 0, 0.99);
    transform: rotateX(20deg) translate3d(85px, 304px, 418px) scaleZ(1.83);
    &.animated {
        opacity: 1;
        transform: rotateX(0deg) translate3d(0px, 0px, 0px) scaleZ(1);
    }
}
.hero-content {
    max-width: 961px;
    perspective: 2000px;
    transform-style: preserve-3d;
    .title {
        font-size: 72px;
        line-height: 90px;
        letter-spacing: -0.07em;
        color: var(--color-white);
        font-family: var(--font-heading);
        @include respond(lg) {
            font-size: 62px;
            line-height: 80px;
        }
        @include respond(md) {
            font-size: 50px;
            line-height: 72px;
        }
        @include respond(xs) {
            font-size: 36px;
            line-height: 50px;
        }
        @include respond(sm) {
            line-height: 60px;
            font-size: 48px;
        }
    }
    .sub-title {
        font-size: 20px;
        max-width: 678px;
        line-height: 30px;
        margin: 6px 0 32px;
        display: inline-block;
        @include respond(lg) {
            max-width: 650px;
        }
        @include respond(xs) {
            font-size: 16px;
        }
        &.animated {
            transition-delay: 0.2s;
        }
    }
    .hero-btn {
        &.animated {
            transition-delay: 0.4s;
        }
    }
    &--two {
        padding-top: 65px;
        @include respond(md) {
            padding-top: 30px;
        }
        @include respond(xs) {
            padding-top: 10px;
        }
        .sub-title {
            margin: 6px 0 42px;
        }
        .title {
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                font-size: 65px;
                line-height: 82px;
            }
            @include respond(lg) {
                font-size: 57px;
                line-height: 70px;
            }
            @include respond(md) {
                font-size: 52px;
                line-height: 65px;
            }
            @include respond(xs) {
                font-size: 36px;
                line-height: 52px;
            }
        }
    }
    &--three {
        margin: 0 auto;
        max-width: 1476px;
        position: relative;
        z-index: 1;
        .title {
            font-weight: 700;
            font-size: 80px;
            line-height: 1.47;
            display: inline;
            @include respond(laptop) {
                font-size: 65px;
            }
            @include respond(lg) {
                font-size: 56px;
            }
            @include respond(md) {
                font-size: 44px;
            }
            @include respond(xs) {
                font-size: 30px;
            }
            @include respond(sm) {
                font-size: 35px;
            }
            img {
                height: 84px;
                width: 217px;
                overflow: hidden;
                @include border-radius(100px);
                @include respond(laptop) {
                    height: 65px;
                }
                @include respond(lg) {
                    height: 56px;
                }
                @include respond(md) {
                    height: 46px;
                }
                @include respond(xs) {
                    width: 170px;
                    height: 40px;
                }
            }
        }
        .sub-title {
            max-width: 605px;
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            line-height: 1.3;
            margin-left: 50px;
            margin-bottom: 0;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                margin-left: 0;
            }
            @include respond(lg) {
                margin-left: 0;
            }
            @include respond(md) {
                max-width: 475px;
                margin-top: 18px;
            }
            @include respond(xs) {
                font-size: 18px;
                width: 100%;
            }
        }
        .hero-shape {
            float: right;
            margin-top: -20px;
            @include respond(laptop) {
                margin-top: -115px;
                margin-right: -40px;
            }
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                margin-right: 0;
                margin-top: -50px;
            }
            @include respond(lg) {
                margin-top: -115px;
                margin-right: -40px;
            }
            @include respond(md) {
                margin-top: -30px;
            }
            @include respond(xs) {
                display: none;
            }
        }
    }
}
.hero-content-bottom {
    gap: 30px;
    width: 100%;
    flex-wrap: nowrap;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: start;
    }
    @include respond(lg) {
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: start;
    }
    @include respond(xs) {
        gap: 25px;
    }
    .xb-item {
        &--text {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            @include respond(xs) {
                font-size: 18px;
            }
            span {
                text-transform: uppercase;
                color: var(--color-primary);
            }
        }
        &--audience {
            flex-wrap: nowrap;
            img {
                &:nth-child(2),
                &:nth-child(3) {
                    margin-left: -24px;
                    @include respond(md) {
                        margin-left: -18px;
                    }
                    @include respond(xs) {
                        margin-left: -12px;
                    }
                }
                @include respond(laptop) {
                    max-width: 85px;
                }
                @include respond(lg) {
                    max-width: 85px;
                }
                @include respond(md) {
                    max-width: 64px;
                }
                @include respond(xs) {
                    max-width: 54px;
                }
            }
        }
        &--holder {
            gap: 50px;
            flex-wrap: nowrap;
            @include respond(xs) {
                gap: 25px;
            }
        }
    }
}
.hero-linear {
    position: absolute;
    left: 0;
    bottom: -45px;
    width: 102%;
    height: 65px;
    background: #00020f;
    filter: blur(10px);
}
.hero-img-container {
    position: relative;
    margin-right: -203px;
    margin-left: 110px;
    @media (max-width: 1600px) {
        margin-right: -130px;
        margin-left: 50px;
    }
    @include respond(laptop) {
        margin-left: 0;
        margin-right: 0;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        bottom: -25px;
    }
    @include respond(lg) {
        margin-left: 0;
        margin-right: -30px;
        bottom: -70px;
    }
    @media only screen and (max-width: 1023px) {
        margin-left: -25px;
        margin-right: -35px;
    }
    @include respond(md) {
        margin-right: 0;
        margin-left: 0;
    }
    @include respond(xs) {
        bottom: -20px;
    }
    @include respond(sm) {
        max-width: 80%;
        margin: 0 auto;
    }
    .xb-text-left {
        top: 78px;
        left: 0;
        position: absolute;
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            left: -10px;
        }
        @include respond(lg) {
            max-width: 32%;
        }
        .img {
            display: block;
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.8s cubic-bezier(0.55, 0.085, 0, 0.99);
            &:not(:last-child) {
                margin-bottom: 10px;
                @include respond(xs) {
                    margin-bottom: 5px;
                }
            }
        }
        &.animated {
            .img {
                opacity: 1;
                transition-delay: .6s;
                transform: translateY(0);
                &--2 {
                    transition-delay: .8s;
                }
            }
        }
    }
    .xb-text-right {
        position: absolute;
        top: 96px;
        right: 0;
        @include respond(lg) {
            max-width: 32%;
            right: 20px;
        }
        @include respond(md) {
            right: 0;
        }
        .img {
            display: block;
            opacity: 0;
            transition-delay: .2s;
            transform: translateY(20px);
            transition: all 0.8s cubic-bezier(0.55, 0.085, 0, 0.99);
            &:not(:last-child) {
                margin-bottom: 10px;
                @include respond(xs) {
                    margin-bottom: 5px;
                }
            }
        }
        &.animated {
            .img {
                opacity: 1;
                transition-delay: .6s;
                transform: translateY(0);
                &--2 {
                    transition-delay: .8s;
                }
                &--3 {
                    transition-delay: 1s;
                }
            }    
        }
    }
    .xb-glassy-effect-img {
        position: absolute;
        top: 23%;
        left: 15.5%;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: bottom center;
        transition: all 0.8s cubic-bezier(0.55, 0.085, 0, 0.99);
        @media (max-width: 1600px) {
            top: 28.3%;
            left: 21.5%;
            max-width: 52%;
        }
        &.animated {
            opacity: 1;
            transition-delay: .5s;
            transform: scaleY(1);
        }
    }
}
.ai-marketing-hero {
    padding: 30px;
    @include respond(xs) {
        padding: 15px;
    }
}