.xb-process-step {
    display: none;
    overflow: hidden;
    position: relative;
    margin-right: 63px;
    padding: 20px 20px 25px;
    text-align: center;
    @include border-radius(10px);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
    background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
    @include respond(md) {
        margin-right: 285px;
    }
    @include respond(xs) {
        margin-right: 0;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        background-image: url(../img/process/noise.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .xb-img {
        position: relative;
        box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
        .step-number {
            position: absolute;
            left: 50%;
            top: 51%;
            transform: translate(-50%, -50%);
            font-weight: 400;
            font-size: 30px;
            letter-spacing: -0.04em;
        }
    }
    &.active {
        display: block;
    }
    .step-name {
        font-size: 22px;
        padding-top: 30px;
        letter-spacing: -0.04em;
    }
}
.xb-process-left-container {
    top: 50px;
    position: sticky;
    margin-right: 50px;
    padding-bottom: 150px;
    @include respond(lg) {
        margin-right: 0;
    }
    @include respond(md) {
        padding-bottom: 30px;
    }
}
.xb-process-right-container {
    text-align: end;
    @include respond(md) {
        padding-bottom: 150px;
    }
}
.process-sction {
    overflow: clip;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        left: -120px;
        bottom: -217px;
        height: 310px;
        width: 112.5%;
        z-index: 1;
        filter: blur(35px);
        background: #00020f;
    }
}
.process-title {
    .xb-heading-btn {
        transform: translate(22px, -10px);
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            transform: translate(0, 5px);
        }
        @include respond(lg) {
            transform: translate(15px, -10px);
        }
        @media only screen and (max-width: 1023px) {
            transform: translate(0, 5px);
        }
        @include respond(md) {
            transform: translate(25px, -5px);
        }
        @include respond(xs) {
            transform: translate(0, 5px);
        }
        @include respond(sm) {
            transform: translate(15px, 0px);
        }
    }
}