.sec-title {
    .title {
        display: block;
        font-size: 62px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.08em;
        color: var(--color-heading);
        font-family: var(--font-heading);
        @include respond(lg) {
            font-size: 52px;
        }
        @include respond(md) {
            font-size: 48px;
        }
        @include respond(xs) {
            font-size: 32px;
        }
        &.horizontal-shape {
            img {
                height: 50px;
                width: 165px;
                @include border-radius(100px);
                
            }
        }
        &.title-line_height {
            line-height: 1.3;
        }
    }
    .sub-title {
        font-size: 16px;
        font-weight: 400;
        padding-left: 16px;
        position: relative;
        display: inline-block;
        letter-spacing: -0.01em;
        color: var(--color-white);
        text-transform: capitalize;
        &::before,
        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            height: 8px;
            width: 8px;
            transform: translateY(-50%);
            @include border-radius(100%);
            background: var(--color-primary);
        }
        &::before {
            display: none;
        }
    }
    &--two {
        .title {
            line-height: 1.2;
        }
        .sub-title {
            padding-left: 0;
            align-items: center;
            display: inline-flex;
            text-transform: uppercase;
            img {
                &:nth-child(1) {
                    margin-right: 10px;
                }
                &:nth-child(2) {
                    margin-left: 10px;
                }
            }
            &::before,
            &::after {
                display: none;
            }
        }
    }
}
.sec-title-center {
    .sub-title {
        padding-right: 16px;
        &::before {
            left: auto;
            right: 0;
            display: block;
        }
    }
}
.sec-title-three {
    .sub-title {
        font-weight: 600;
        font-size: 16px;
        padding-left: 21px;
        position: relative;
        display: inline-block;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: var(--color-white);
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            height: 12px;
            width: 12px;
            transform: translateY(-50%);
            background: var(--color-primary);
        }
    }
    .title {
        font-weight: 400;
        font-size: 45px;
        line-height: 1.3;
        letter-spacing: -0.07em;
        color: var(--color-white);
        @include respond(lg) {
            font-size: 38px;
        }
        @include respond(md) {
            font-size: 33px;
        }
        @include respond(xs) {
            font-size: 25px;
        }
        @include respond(sm) {
            font-size: 30px;
        }
    }
}
