.sidebar {
    
    margin-left: 80px;
    @include respond(lg) {
        margin-left: 60px;
    }
    @include respond(md) {
        margin-left: 0;
    }
    .sidebar_widget {
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }
}
//common title
.sidebar_widget_title {
    font-size: 22px;
    margin-bottom: 17px;
    letter-spacing: -0.04em;
    color: var(--color-heading);
}
// search 
.form-group {
	position: relative;
    .form-control {
        height: 60px;
        padding-right: 70px;
        color: var(--color-white);
        backdrop-filter: blur(40px);
        @include border-radius(10px);
        background: var(--color-secondary);
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
        &:focus {
            box-shadow: none;
            border: 1px solid var(--color-primary);
        }
    }
    .search_icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 60px;
        @include center;
        border-radius: 0 10px 10px 0;
        background: var(--color-primary);
    }
} 
//post
.recent_post_block {
    .recent_post_item {
        padding: 22px 30px 25px;
        @include border-radius(10px);
        backdrop-filter: blur(40px);
        box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
        background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            border-radius: inherit;
            background-image: url(../img/blog/noise.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        .post-title {
            font-size: 17px;
            margin-bottom: 5px;
            line-height: 26px;
            letter-spacing: -0.04em;
            a {
                color: currentColor;
                
            }
        }
        span {
            font-size: 16px;
            font-weight: 500;
            img {
                margin-right: 8px;
            }
        }
    }
}
//category
.category_list_block {
    li {
        border-bottom: 1px solid #40414b;
    }
    a {
        display: flex;
        padding: 10px 0 16px;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        align-items: center;
        letter-spacing: -0.02em;
        color: var(--color-white);
        justify-content: space-between;
        span {
            gap: 8px;
            font-weight: 700;
            align-items: center;
            display: inline-flex;
            @include transition(.3s);
            &:first-child {
                transform: translateX(-24px);
                i {
                    opacity: 0;
                    color: inherit;
                    @include transition(.3s);
                    transform: rotate(-45deg);
                }
            }
        }
        &:hover {
            span {
                color: var(--color-primary);
                &:first-child {
                    transform: translateX(0px);
                    i {
                        opacity: 1;
                    }
                }
            }
        }
    }
} 
//popular tags
.tags_block {
    li {
        margin-right: 5px;
        margin-bottom: 10px;
        display: inline-block;
        a {
            font-weight: 500;
            font-size: 14px;
            padding: 7px 19px;
            color: var(--color-white);
            @include border-radius(5px);
            @include transition(.3s);
            backdrop-filter: blur(40px);
            box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
            background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                border-radius: inherit;
                background-image: url(../img/blog/noise.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:after {
                @include border-radius(5px);
            }
        }
        &:hover a {
            color: var(--color-secondary);
            background: var(--color-primary);
        }
    } 
}


/*----------------------------------------*/
/*  27. sidebar start
/*----------------------------------------*/
.offcanvas-sidebar {
    .sidebar-logo,
    .sidebar-content,
    .sidebar-contact-info,
    .sidebar-newsletter {
        @include transition(.3s var(--easing));
        @include transform(translateY(30px));
        opacity: 0;
    }
}

.offcanvas-sidebar.active {
    .sidebar-logo,
    .sidebar-content,
    .sidebar-contact-info,
    .sidebar-newsletter,
    .sidebar-menu-close {
        opacity: 1;
        @include transition(.3s);
        @include transform(translateY(0));
    }
    
    .sidebar-logo {
        transition-delay: .2s;
    }
    .sidebar-content {
        transition-delay: .3s;
    }
    .sidebar-contact-info {
        transition-delay: .4s;
    }
    .sidebar-newsletter {
        transition-delay: .5s;
    }
    .sidebar-menu-close {
        transition-delay: .6s;
    }
    
}

.sidebar-menu-close {
    position: absolute;
    top: 20px;
    right: 30px;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    opacity: 0;
    @include transform(translateX(30px));
    .xb-close {
        background: none;
    }
}
.offcanvas-sidebar .xb-close::before,
.offcanvas-sidebar .xb-close::after {
    background-color: var(--color-white);
}
.offcanvas-sidebar {
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: -775px;
	max-width: 688px;
    width: 100%;
	padding: 70px;
	height: 100%;
	display: block;
	z-index: 1020;
	background-color: #2605bd;
    transition-duration: 500ms;
    background-image: url(../img/bg/sidebar_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: start;
    flex-direction: column;
    @include respond(lg) {
        max-width: 600px;
    }
}
.offcanvas-sidebar.active {
    right: 0;
}
.sidebar-content {
    font-size: 30px;
    font-weight: 600;
    max-width: 390px;
    line-height: 142.2%;
    letter-spacing: -0.9px;
    color: var(--color-white);
    text-transform: capitalize;
}
.sidebar-heading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 28px;
    display: inline-block;
    letter-spacing: 0.12em;
    color: var(--color-white);
    text-transform: uppercase;
}
.sidebar-info-list {
    li {
        display: flex;
        font-size: 20px;
        font-weight: 500;
        align-items: center;
        letter-spacing: -0.03em;
        color: var(--color-white);
        span {
            margin-right: 15px;
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        a {
            color: currentColor;
        }
    }
}
.sidebar-newsletter-from {
    max-width: 409px;
    position: relative;
    input {
        height: 60px;
        padding: 18px 60px 18px 18px;
        color: var(--color-black);
        @include border-radius(100px);
        background-color: var(--color-white);
        &::placeholder {
            color: var(--color-black);
        }
    }
    button {
        width: 54px;
        height: 54px;
        font-size: 20px;
        @include center;
        position: absolute;
        top: 3px;
        right: 3px;
        color: var(--color-white);
        @include border-radius(100px);
        background-color: var(--color-secondary);
    }
}
/*----------------------------------------*/
/*  27. sidebar end
/*----------------------------------------*/