.xb-testimonial-item {
    .xb-item {
        &--inner {
            padding: 20px 24px 20px 20px;
            @include border-radius(10px);
            backdrop-filter: blur(40px);
            box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
            background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);

            @media only screen and (min-width: 1600px) and (max-width: 1700px) {
                padding: 22px 28px 22px 22px;
            }
        }

        &--rating {
            gap: 6px;
            padding: 5px 8px;
            background: #00020f;
            display: inline-flex;
            @include border-radius(7px);

            li {
                font-size: 17px;
                letter-spacing: -0.03em;

                &:last-child {
                    margin-left: 6px;
                }

                i {
                    color: #d9ff43;
                }
            }
        }

        &--content {
            font-weight: 500;
            font-size: 17px;
            line-height: 1.55;
            margin: 14px 0 28px;
            letter-spacing: -0.02em;

            @include respond(xs) {
                font-size: 15px;
                line-height: 1.5;
                margin: 12px 0 18px;
            }
        }

        &--author {
            gap: 12px;
        }

        &--avatar {
            overflow: hidden;
            @include border-radius(100px);
        }

        &--avatar {
            font-size: 17px;
            line-height: 152%;
            letter-spacing: -0.01em;
        }

        &--name {
            font-size: 17px;
            text-transform: capitalize;

            @include respond(xs) {
                font-size: 15px;
            }
        }

        &--desig {
            font-weight: 500;

            @include respond(xs) {
                font-size: 13px;
            }
        }
    }
}

.xb-testimonial-slider {
    margin-left: -95px;
    margin-right: -5px;

    @include respond(laptop) {
        margin-left: -10px;
        margin-right: -10px;
    }

    @include respond(lg) {
        margin-right: -50px;
    }

    @include respond(md) {
        margin-right: 0;
        margin-left: 0;
    }

    @include respond(xs) {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.tes-sec-title {
    .brand-sub-title {
        transform: translateY(0);
        margin-bottom: 40px;
        margin-top: -30px;
        padding: 18px 80px;

        p {
            font-size: 24px;
            padding: 0 32px;
        }
    }

    .title {
        z-index: 1;
        position: relative;

        img {
            width: 112px;
            z-index: -1;
            position: relative;

            @include respond(xs) {
                width: 75px;
            }
        }
    }
}

.ac-testimonial-item {
    position: relative;
    padding: 20px 40px 20px 20px;
    @include border-radius(10px);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
    background: linear-gradient(209deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);

    @include respond(xs) {
        gap: 30px;
        padding: 20px;
    }

    .xb-item {
        &--holder {
            width: calc(100% - 284px);

            @include respond(xs) {
                width: 100%;
            }
        }

        &--avatar {
            overflow: hidden;
            max-width: 233px;
            margin-right: 50px;
            @include border-radius(10px);

            @include respond(xs) {
                max-width: 100%;
                margin-right: 0;
            }

            @include respond(sm) {
                margin: 0 auto;
            }

            img {
                @include respond(xs) {
                    width: 100%;
                }
            }
        }

        &--content {
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 0em;

            @include respond(xs) {
                font-size: 24px;
            }
        }

        &--name {
            margin-top: 19px;
            letter-spacing: -0.04em;
            text-transform: capitalize;
        }

        &--author {
            margin-top: 60px;
            border-top: 1px solid #45454f;
        }

        &--quote {
            position: absolute;
            top: 20px;
            right: 40px;

            @include respond(xs) {
                top: 58%;
                right: 20px;
            }

            @include respond(sm) {
                top: 66%;
            }
        }
    }
}

.testimonial-wrapper {
    margin-left: -192px;
    margin-right: -216px;
    position: relative;

    @media only screen and (max-width: 1600px) {
        margin-left: -500px;
        margin-right: -350px;
    }

    @include respond(laptop) {
        margin-left: -470px;
        margin-right: -450px;
    }

    @include respond(lg) {
        margin-left: -550px;
        margin-right: -550px;
    }

    @media only screen and (max-width: 1300px) {
        margin-left: 120px;
        margin-right: 120px;
    }

    @include respond(md) {
        margin-left: 30px;
        margin-right: 30px;
    }

    @include respond(xs) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.ai-testimonial-inner {
    min-height: 772px;

    @include respond(md) {
        min-height: 650px;
    }
}

.ai-testimonial-item {
    min-height: 772px;

    @include respond(md) {
        min-height: 650px;
    }

    .xb-item {
        &--inner {
            top: 0;
            left: 50%;
            z-index: 1;
            display: flex;
            margin: 0 auto;
            padding: 0 80px;
            max-width: 710px;
            height: 100%;
            position: absolute;
            text-align: center;
            align-items: center;
            overflow: hidden;
            background: #11121D;
            transform: translate(-50%);

            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                padding: 0 60px;
            }

            @include respond(lg) {
                padding: 0 30px;
            }

            @include respond(xs) {
                left: 25px;
                max-width: 280px;
                transform: translate(0);
            }

            @include respond(sm) {
                left: 60px;
                max-width: 410px;
            }
        }

        &--comment {
            opacity: 0;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.37;
            margin: 90px 0 95px;
            @include transition(.5s);
            transform: translateY(30px);

            @include respond(lg) {
                font-size: 28px;
            }

            @include respond(md) {
                font-size: 22px;
                margin: 70px 0;
            }
        }

        &--name {
            opacity: 0;
            font-size: 18px;
            margin-bottom: 15px;
            @include transition(.5s);
            transform: translateY(30px);
        }

        &--brand {
            opacity: 0;
            @include transition(.5s);
            transform: translateY(30px);
        }
    }
}

.ai-slide-btn {
    &>div {
        top: 50%;
        left: 24.5%;
        height: 50px;
        width: 50px;
        z-index: 1;
        font-size: 18px;
        color: #131053;
        @include transition(.3s);
        transform: translateY(-50%);
        background: var(--color-white);

        @media only screen and (max-width: 1600px) {
            left: 19%;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            left: 15%;
        }

        @include respond(lg) {
            left: 13%;
        }

        @include respond(xs) {
            width: 40px;
            height: 40px;
            left: 2%;
        }

        svg {
            @include respond(xs) {
                width: 10px;
            }
        }

        &::after {
            display: none;
        }

        &:hover {
            background: var(--color-primary);
        }
    }

    .swiper-button-next {
        left: auto;
        right: 24.5%;

        @media only screen and (max-width: 1600px) {
            right: 19%;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            right: 15%;
        }

        @include respond(lg) {
            right: 13%;
        }

        @include respond(xs) {
            right: 2%;
        }
    }
}

.ai-testimonial-slider-nav {
    .swiper-slide-active {
        .ai-testimonial-item {
            .xb-item {
                &--comment {
                    opacity: 1;
                    transform: translateY(0);
                }

                &--name {
                    opacity: 1;
                    transition-delay: .1s;
                    transform: translateY(0);
                }

                &--brand {
                    opacity: 1;
                    transition-delay: .2s;
                    transform: translateY(0);
                }
            }
        }
    }
}

.ai-testimonial-slider-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    height: 100%;
    width: 100%;

    .ai-tes-img {
        height: 100%;
        @include transition(.3s);

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.ai-testimonial-heading {
    @include respond(lg) {
        margin-top: 95px;
    }

    @include respond(xs) {
        margin-bottom: 200px;
    }

    .sub-title {
        top: 71px;
        left: 51px;
        position: absolute;

        @include respond(lg) {
            left: 20px;
        }
    }

    .title {
        max-width: 953px;
        text-align: center;
        margin: 0 auto;

        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            max-width: 870px;
        }

        @include respond(lg) {
            margin: 0;
            max-width: 700px;
            text-align: start;
        }

        @include respond(md) {
            max-width: 500px;
        }
    }
}