.xb-project-content {
    .xb-item {
        &--inner {
            width: 740px;
            position: relative;
            display: inline-block;
            padding: 55px 45px 60px 65px;
            @include border-radius(10px);
            backdrop-filter: blur(40px);
            box-shadow: 0 4px 24px -1px rgba(28, 9, 61, 0.2);
            background: linear-gradient(209deg, rgba(0, 2, 15, 0.6) 0%, rgba(0, 2, 15, 0.6) 100%);
            @include respond(laptop) {
                padding: 55px 45px 60px 60px;
            }
            @include respond(lg) {
                padding: 55px 45px 60px 60px;
            }
            @include respond(md) {
                width: 610px;
                padding: 55px 45px 60px 60px;
            }
            @include respond(xs) {
                width: 310px;
                padding: 55px 30px 60px;
            }
            @include respond(xs) {
                max-width: 100%;
                padding: 55px 30px 60px;
            }
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                background-image: url(../img/project/noise.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &--title {
            font-size: 42px;
            margin-bottom: 15px;
            letter-spacing: -0.06em;
            @include respond(lg) {
                font-size: 38px;
            }
            @include respond(md) {
                font-size: 32px;
            }
            @include respond(xs) {
                font-size: 26px;
            }
            @include respond(sm) {
                font-size: 28px;
            }
        }
        &--list {
            gap: 127px;
            font-size: 18px;
            font-weight: 500;
            margin: 33px 0 40px;
            @include respond(lg) {
                gap: 60px;
                justify-content: space-between;
            }
            @include respond(md) {
                gap: 15px;
            }
            span {
                font-weight: 400;
                color: var(--color-primary);
            }
        }
        &--technologie {
            gap: 53px;
            @include respond(xs) {
                gap: 20px;
            }
            span {
                font-size: 18px;
                font-weight: 500;
                text-transform: capitalize;
            }
            ul {
                gap: 20px;
                li {
                    height: 59px;
                    width: 59px;
                    @include center;
                    @include border-radius(100px);
                    background: var(--color-white);
                }
            }
        }
        &--btn a {
            .text {
                padding: 16.2px 20px;
            }
            .arrow {
                padding: 5px;
                .arrow-icon {
                    height: 40px;
                    width: 40px;
                    svg {
                        top: 8px;
                        left: 7px;
                    }
                }
            }
        }
    }
}
.xb-project-wrap {
    position: relative;
}
.xb-project-inner {
    width: 100%;
    height: 100%;
    margin-top: -100vh;
}
.xb-project-item {
    z-index: 1;
    display: flex;
    top: 50px;
    position: sticky;
    align-items: center;
    padding: 100px 190px;
    @include border-radius(10px);
    @include respond(laptop) {
        top: 30px;
    }
    @include respond(lg) {
        padding: 80px 100px 80px 50px;
    }
    @include respond(md) {
        top: 40px;
    }
    @include respond(xs) {
        top: 20px;
        padding: 20px;
    }
} 
.xb-project-img {
    z-index: -1;
    overflow: hidden;
    position: relative;
    @include border-radius(10px);
    @include respond(lg) {
        max-width: 760px;
    }
    @include respond(md) {
        max-width: 645px;
    }
    @include respond(xs) {
        display: none;
    }
}
.xb-project-pagination-wrap {
    z-index: 2;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
    padding-right: 20px;
}
.xb-project-pagination {
    gap: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include respond(xs) {
        display: none;
    }
    li {
        height: 40px;
        width: 40px;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        @include center;
        cursor: pointer;
        color: var(--color-white);
        @include border-radius(100px);
        background: var(--color-secondary);
        &::before {
            position: absolute;
            content: '';
            height: 80%;
            width: 80%;
            border-radius: inherit;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
        &.active {
            color: var(--color-primary);
            &::before {
                border: 1px solid #00ff97;
            }
        }
    }
}
.custom-sec-title {
    .title {
        margin-left: 80px;
        display: inline !important;
        @include respond(xs) {
            margin-left: 40px;
        }
    }
    .sub-title {
        transform: translateY(-10px);
    }
}
.round-img img {
    height: 50px;
    width: 305px;
    margin-right: 30px;
    object-fit: cover;
    @include border-radius(100px);
    @include respond(xs) {
        width: 160px;
        margin-right: 0;
    }
    @include respond(sm) {
        width: 305px;
    }
}
.xb-heading-btn {
    transform: translate(35px, -18px);
    display: inline-block !important;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        transform: translate(0, 0);
    }
    @include respond(lg) {
        transform: translate(0, 0);
    }
}
.xb-project-wrap_2 {
    .xb-project-item {
        top: 0;
        padding: 0;
        position: relative;
        justify-content: start;
        &:not(:last-child) {
            margin-bottom: 100px;
            @include respond(xs) {
                margin-bottom: 30px;
            }
        }
        &:nth-child(even) {
            .xb-project-content {
                right: 0;
                left: auto;
                .xb-item {
                    &--inner {
                        padding: 55px 60px 60px;
                        @include respond(md) {
                            padding: 40px 30px 45px;
                        }
                        @include respond(xs) {
                            padding: 40px 20px 45px;
                        }
                    }
                    &--content {
                        max-width: 626px;
                    }
                }
            }
        }
        &:nth-child(odd) {
            justify-content: end;
        }
        .xb-project-content {
            left: 0;
            position: absolute;
            @include respond(xs) {
                position: relative;
            }
            .xb-item--inner {
                width: 840px;
                padding: 55px 45px 60px 165px;
                background: linear-gradient(209deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
                @include respond(laptop) {
                    width: 790px;
                    padding: 55px 50px 60px;
                }
                @include respond(lg) {
                    width: 730px;
                    padding: 55px 50px 60px;
                }
                @include respond(md) {
                    width: 660px;
                    padding: 40px 30px 45px;
                }
                @include respond(xs) {
                    width: 100%;
                    padding: 40px 20px 45px;
                }
            }
        }
    }
}
.project-meta {
    gap: 25px;
    padding-top: 46px;
    border-top: 1px solid #40414b;
    li {
        gap: 7px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include respond(lg) {
            width: 45%;
        }
        @include respond(xs) {
            width: 100%;
        }
        span {
            margin-right: 8px;
            color: var(--color-white);
            text-transform: uppercase;
        }
    }
}
.project-requerment {
    max-width: 1064px !important;
}
.project-details {
    @include respond(xs) {
        padding-bottom: 0;
    }
}
.ai-project-item {
    z-index: 1;
    @include respond(xs) {
        margin-bottom: 30px;
    }
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: rgba(0, 2, 15, 0.5);
        @include respond(lg) {
            opacity: 1;
        }
    }
    .ai-portfolio-thumb {
        position: relative;
        img {
            @include respond(md) {
                object-fit: cover;
                min-height: 500px;
            }
        }
    }
    .ai-category {
        left: 30px;
        top: 20px;
        z-index: 1;
        position: absolute;
        text-transform: uppercase;
        color: var(--color-white);
        span {
            color: #01ff97;
            font-weight: 500;
        }
    }
    .ai-marketing-btn {
        @include respond(xs) {
            order: 1;
        }
    }
}
.ai-project-content {
    position: absolute;
    left: 0;
    z-index: 1;
    gap: 30px;
    width: 100%;
    bottom: 30px;
    padding: 0 20px;
    @include respond(md) {
        gap: 20px;
    }
    .content {
        font-size: 18px;
        max-width: 415px;
        color: var(--color-white);
        @media only screen and (min-width: 1200px) and (max-width: 1300px) {
            max-width: 382px;
        }
        @include respond(lg) {
            text-align: start !important;
        }
        @include respond(md) {
            max-width: 344px;
            font-size: 16px;
        }
        span {
            font-weight: 700;
            color: #ed6d70;
            text-transform: uppercase;
        }
        .text-green {
            color: #01ff97;
        }
    }
}
.ai-portfolio-wrap {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        height: 32px;
        width: 100%;
        left: 0;
        z-index: 2;
        bottom: -30px;
        background: var(--color-secondary);
    }
}
