@font-face {
    font-family: 'SportingGrotesque';
    src: url('../fonts/SportingGrotesque-Regular.woff2') format('woff2'),
    url('../fonts/SportingGrotesque-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SportingGrotesque';
    src: url('../fonts/SportingGrotesque-Bold.woff2') format('woff2'),
    url('../fonts/SportingGrotesque-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
